html {
    background-color: #eee8d5;
    color: #657b83;
    margin: 1em;
    font-family: verdana;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

input[type=text] {
    border: 1px solid;
    border: 1px solid;
    border-radius: 4px;
    padding: 6px 10px;
    margin: 8px 0;
}

input[type=submit] {
    cursor: pointer;
    background-color: #d33682;
    color: white;
    border: none;
    border-radius: 4px;
}

h1 {
    color: #d33682;
}
h2,
h3,
h4,
h5,
h6 {
    color: #859900;
}

h1 {
    font-size: 2.8em;
}
h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1.15em;
}

a {
    color: #b58900;
}
a:visited {
    color: #cb4b16;
}
a:hover {
    color: #cb4b16;
}

body {
    background-color: #fdf6e3;
    padding: 1em;
}
